html, body {
  margin: 0;
  padding: 0;
}


.form-header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  height: 36px;
}

.profile-page {
  margin-top: 20px
}

.profile-image {
  display: flex;
  justify-content: center;
}

.user-details {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-reviews {
  margin-top: 60px;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review-details {
  width: 90%;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.review-card {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  margin-bottom: 10px;
}

.review-title {
  font-size: 1.5em;
}

.new-review-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.fa.fa-trash {
  font-size: 36px;
}

.album-list {
  margin-top: 40px;
}

.album-title {
  font-size: 1.5em;
}

.artist-name {
  font-size: 1em;
}

.author-name {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.date {
  font-size: 0.8em;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.review-btn {
  margin-left: 10px;
}

ul.success {
  margin-left: 0px;
}

ul.success li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

ul.error li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}



