extends templates/layout

block content
  .container
    .row
      .col-xs-3
      .col-xs-6
        h1.new-review-title New review for #{album.title}
        .review-form
          form(method='post' action=`/albums/${album.id}/reviews/new`)
            .form-group
              .text-box
                textarea.form-control(type='text', rows=10 name='review')
              .btn-container
                a.btn.btn-default.review-btn(href=`/albums/${album.id}`) Cancel
                button.btn.btn-primary.review-btn(type='submit') Submit
      .col-xs-3