extends layout.pug

block content
  h1.form-header Sign in
  .container-form
    .col-md-4
    .col-md-4
      if errors
        .alert.alert-danger
          ul
          each error in errors
            li #{error.msg}
      form(method='post' action='/signin')
        .form-group
          input.form-control(type='email', name='email', placeholder='Enter email')
        .form-group
          input.form-control(type='password', name='password', placeholder='Enter password')
        button.btn.btn-primary(type='submit') Sign in
    .col-md-4